* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

section {
	width: 400px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.cursor {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	background-color: black;
	mix-blend-mode: difference;
	filter: invert(100%);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-filter: invert(100%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
