body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 8px;
	padding: 5vh;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 5vh;
	overflow: hidden;
}

a {
	position: relative;
	border: 2px solid #000;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	text-decoration: none;
	color: black;
	padding: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

div {
	width: 384px;
	height: 216px;
}

iframe {
	width: 1920px;
	height: 1080px;
	transform: scale(0.2);
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	-ms-transform: scale(0.2);
	-o-transform: scale(0.2);
	transform-origin: 0 0;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}
