<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
	</head>
	<body>
		Hi from <%= name %>
		<form action="/names" method="POST">
			<input type="hidden" name="_csrf" value="<%= _csrf %>">
			<label for="name">
				Enter the name:
				<input type="text" name="name" id="name" />
			</label>
			<br />
			<input type="submit" value="Submit" />
		</form>
        <% if (locals.names) { %>
            <ul>
                <% for( let i = 0; i < names.length; i++ ) { %>
                    <li>
                        <%= names[i] %>
                    </li>
                <% } %>
            </ul>
        <% } %>
	</body>
</html>
